<div class="modal" tabindex="-1" role="dialog" th:id="modal-shared">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Share Shopping</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/shopping/share/user}" method="post" th:object="${share}">

                    <div style="display: none">
                        <input type="text"  name="shopId" th:value="${shopping.shopId}"/>
                    </div>
                    <div></div>
                    <select name="userId" type="text">
                        <option value="">select user to share</option>
                        <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.name}">
                        </option>
                    </select>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary ">Send</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>