<div class="sidebar" data-background-color="white" data-active-color="danger">

    <div class="sidebar-wrapper">
        <div class="logo">
            <a th:href="@{/shopping/all}" class="simple-text">
                Shopping Manager
            </a>
        </div>

        <ul class="nav">
            <li>
                <a th:href="@{/shopping/all}">
                    <i class="ti-book"></i>
                    <p> Shopping</p>
                </a>
            </li>
            <li>
                <a th:href="@{/shopping/form}">
                    <i class="ti-plus"></i>
                    <p>Add  Shopping</p>
                </a>
            </li>
        <li>
                <a th:href="@{/shopping/archive}">
                    <i class="ti-folder"></i>
                    <p>Archive</p>
                </a>
            </li>

        </ul>
    </div>
</div>
<div></div>
