<div class="card">
    <div class="header">
        <h4 class="title">Add new Task</h4>
        <p class="category">fill out & click save</p>
    </div>

    <div class="content">
        <form th:action="@{/task/save}" method="post" th:object="${task}">
            <div class="form-group">
                <label for="name" >Task name:</label>
                <input type="text" class="form-control" id="name" aria-describedby="title" th:field="*{name}" playeholder="name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea rows="4" type="textarea" class="form-control" id="description" th:field="*{description}" /></textarea>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="shopId" name="shopId">
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>

    </div>
</div>