<div class="card">
    <div class="header">
        <h3 th:text="${shopping.name}"></h3>
    </div>
    <div class="content">

        <p th:text="${#dates.format(shopping.date, 'dd-MMM-yyyy')}"></p>
        <p th:text="${shopping.comment}"></p>
    </div>
    <div style="margin-bottom: 20px;">
        <a class="btn btn-info"data-toggle="modal" data-target="#modal-shared">Shared</a>

    </div>
    <hr>
    <div class="header">
        <h4 class="title text-center" ><strong>list of tasks of the Shopping entitled :</strong> <strong th:text="${shopping.name}"></strong></h4>

    </div>
    <div class="content table-responsive table-full-width">
        <table class="table table-striped">
            <thead>
            <th>Task name</th>
            <th>Description</th>
            <th>Status</th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            <tr th:each="task : ${shopping.tasks}">
                <td th:text="${task.name}"></td>
                <td th:text="${task.description}"></td>
                <td th:if="${task.status}==true">
                    <span>DONE</span>
                    <a th:href="@{/task/active/{taskId}(taskId=${task.taskId})}"> <i class="fa fa-check-circle"></i></a>
                </td>
                <td th:unless="${task.status}==true">
                    <span>TODO</span>
                    <a th:href="@{/task/active/{taskId}(taskId=${task.taskId})}"><i class="fa fa-check-circle-o"></i></a>
                </td>
                <td><a th:href="@{/task/update/{taskId}(taskId=${task.taskId})}"  class="btn btn-default">Edit</a></td>
                <td>
                    <a  th:href="@{/task/delete/}+${task.taskId}" class="btn btn-danger" th:if="${shopping.saverName} == ${user.name}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div></div>







